<app-header>8</app-header>>

<div class="dashboard">
  <h2>Welcome, {{ user.name }}</h2>

  <div *ngIf="upcomingBookings.length > 0; else noUpcoming" class="booking-info">
    <h3>Upcoming Bookings</h3>
    <div *ngFor="let booking of upcomingBookings">
      <p><strong>Room:</strong> {{ booking.room.name }}</p>
      <p><strong>Check-In:</strong> {{ booking.checkInDate }}</p>
      <p><strong>Total:</strong> ${{ booking.total.toFixed(2) }}</p>
      <button (click)="cancelBooking(booking)">Cancel Booking</button>
      <hr>
    </div>
  </div>
  <ng-template #noUpcoming>
    <div class="no-booking">
      <p>No upcoming bookings.</p>
    </div>
  </ng-template>

  <div *ngIf="pastBookings.length > 0" class="booking-info">
    <h3>Past Bookings</h3>
    <div *ngFor="let booking of pastBookings">
      <p><strong>Room:</strong> {{ booking.room.name }}</p>
      <p><strong>Check-In:</strong> {{ booking.checkInDate }}</p>
      <p><strong>Total:</strong> ${{ booking.total.toFixed(2) }}</p>
      <hr>
    </div>
  </div>

  <button class="home-btn" (click)="goToHome()">Go to Home</button>
  <button class="logout-btn" (click)="logout()">Logout</button>
</div>
